<html lang=en xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcome to IPL Fantasy League</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
</head>
<body>
    <div>
        <h2>TABLES</h2>
                <table  cellspacing="0" cellpadding="8" >                 
                        <tr>
                            <th>#</th>
                            <th>Team 1</th>
                            <th>Team 2</th>
                            <th>Match Date</th>
                            <th>Match Time</th>
                            <th>Match stadium</th>
                            <th>Match Winner</th>
                            <th>Match status</th>
                            <th>Match delay</th>
                        </tr>
                        <tr th:each="matchlist: ${teamstarts}">
                            <td th:text="${matchlist.match_id}">#</td>
                            <td th:text="${matchlist.teamdetails.team_name}">#</td>
                            <td th:text="${matchlist.teamdetails2.team_name}">#</td>
                            <td th:text="${matchlist.match_date}">#</td>
                            <td th:text="${matchlist.match_time}">#</td>
                            <td th:text="${matchlist.match_stadium}">#</td>
                            <td th:text="${matchlist.winner}">#</td>
                            <td th:text="${matchlist.status}">#</td>
                            <td th:text="${matchlist.delay}">#</td>
                        </tr>
                    </table>
                    </div>
</body>
</html>